:root {
  /* ... */
  --header-mobile-height: 60px;
  --header-desktop-height: 70px;
  /* ... */
  --dashboard-w: 280px;
  --dashboard-mini-w: 80px;
  /* ... */
  --dashboard-item-h: 34px;
  --dashboard-sub-item-h: 30px;
  /* ... */
  --dashboard-item-icon: 16px;
}
