@theme {
  --container-sm: 24rem;
  --container-lg: 32rem;

  --radius-xs: 0.125rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);

  --color-background: var(--background);
  --color-popover: var(--popover);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-mono: var(--mono);
  --color-border: var(--border);
  --color-input: var(--input);
  --text-2sm: 0.8125rem;
  --text-2sm--line-height: calc(1.075 / 0.8125);
}
