.dark,
[data-theme="dark"] {
  --background: oklch(14.1% 0.005 285.823);
  --foreground: oklch(98.5% 0 0);
  --card: oklch(14.1% 0.005 285.823);
  --card-foreground: oklch(98.5% 0 0);
  --popover: oklch(14.1% 0.005 285.823);
  --popover-foreground: oklch(98.5% 0 0);
  --primary: #1379f0;
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(27.4% 0.006 286.033);
  --secondary-foreground: oklch(70.5% 0.015 286.067);
  --muted: oklch(21% 0.006 285.885);
  --muted-foreground: oklch(55.2% 0.016 285.938);
  --accent: oklch(21% 0.006 285.885);
  --accent-foreground: oklch(98.5% 0 0);
  --destructive: oklch(57.7% 0.245 27.325);
  --destructive-foreground: oklch(100% 0 0);
  --mono: oklch(87.1% 0.006 286.286);
  --mono-foreground: oklch(0% 0 0);
  --border: oklch(27.4% 0.006 286.033);
  --input: oklch(27.4% 0.006 286.033);
  --ring: oklch(27.4% 0.006 286.033);
  --radius: 0.5rem;

  /* Background Colors */
  --ui-background: var(--background);

  /* Foreground Colors */
  --ui-foreground: var(--foreground);
  --ui-foreground-link: var(--color-blue-500);
  --ui-foreground-secondary: var(--secondary-foreground);

  /* Divider Colors */
  --ui-divider-light: oklch(13.3% 0.003 246.1);
  --ui-divider: var(--border);
  --ui-divider-dark: oklch(34.9% 0.013 248.2);

  /* Focus Color */
  --ui-focus: oklch(56.7% 0.209 257.9);

  /* Overlay Color */
  --ui-overlay: oklch(0% 0 0);

  /* Content Colors */
  --ui-content1: var(--card);
  --ui-content1-foreground: var(--card-foreground);
  --ui-content2: var(--accent);
  --ui-content2-foreground: var(--accent-foreground);

  /* Primary Colors (teal) */
  --ui-primary-900: oklch(95.42% 0.019 252.87);
  --ui-primary-800: oklch(91.08% 0.04 251.77);
  --ui-primary-700: oklch(82.29% 0.081 252.14);
  --ui-primary-600: oklch(73.58% 0.124 253.39);
  --ui-primary-500: oklch(66.45% 0.161 254.12);
  --ui-primary-400: oklch(59.11% 0.199 256.76);
  --ui-primary-300: oklch(51.67% 0.174 256.77);
  --ui-primary-200: oklch(42.59% 0.14 256.51);
  --ui-primary-100: oklch(34.15% 0.107 255.73);
  --ui-primary-50: oklch(24.88% 0.073 254.75);
  --ui-primary-foreground: oklch(100% 0 0);
  --ui-primary: var(--ui-primary-400);
}
