

.dark,
[data-theme="dark"] {
  --background: oklch(14.1% 0.005 285.823);
  --foreground: oklch(98.5% 0 0);
  --card: oklch(14.1% 0.005 285.823);
  --card-foreground: oklch(98.5% 0 0);
  --popover: oklch(14.1% 0.005 285.823);
  --popover-foreground: oklch(98.5% 0 0);
  --primary: #1379f0;
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(27.4% 0.006 286.033);
  --secondary-foreground: oklch(70.5% 0.015 286.067);
  --muted: oklch(21% 0.006 285.885);
  --muted-foreground: oklch(55.2% 0.016 285.938);
  --accent: oklch(21% 0.006 285.885);
  --accent-foreground: oklch(98.5% 0 0);
  --destructive: oklch(57.7% 0.245 27.325);
  --destructive-foreground: oklch(100% 0 0);
  --mono: oklch(87.1% 0.006 286.286);
  --mono-foreground: oklch(0% 0 0);
  --border: oklch(27.4% 0.006 286.033);
  --input: oklch(27.4% 0.006 286.033);
  --ring: oklch(27.4% 0.006 286.033);
  --radius: 0.5rem;

  /* Background Colors */
  --ui-background: var(--background);

  /* Foreground Colors */
  --ui-foreground: var(--foreground);
  --ui-foreground-link: var(--color-blue-500);
  --ui-foreground-secondary: var(--secondary-foreground);

  /* Divider Colors */
  --ui-divider-light: oklch(13.3% 0.003 246.1);
  --ui-divider: oklch(27.4% 0.006 286.033);
  --ui-divider-dark: oklch(34.9% 0.013 248.2);

  /* Focus Color */
  --ui-focus: oklch(56.7% 0.209 257.9);

  /* Overlay Color */
  --ui-overlay: oklch(0% 0 0);

  /* Content Colors */
  --ui-content1: var(--card);
  --ui-content1-foreground: var(--card-foreground);
  --ui-content2: var(--accent);
  --ui-content2-foreground: var(--accent-foreground);

  /* Primary Colors (teal) */
  --ui-primary-50: oklch(0.984 0.014 180.72);
  --ui-primary-100: oklch(0.953 0.051 180.801);
  --ui-primary-200: oklch(0.91 0.096 180.426);
  --ui-primary-300: var(--color-blue-700);
  --ui-primary-400: var(--color-blue-800);
  --ui-primary-500: var(--color-blue-500);
  --ui-primary-600: oklch(0.6 0.118 184.704);
  --ui-primary-700: oklch(0.511 0.096 186.391);
  --ui-primary-800: oklch(0.437 0.078 188.216);
  --ui-primary-900: oklch(0.386 0.063 188.416);
  --ui-primary-foreground: oklch(100% 0 0);
  --ui-primary: #1379f0;
}
